# ------- Datasource -------
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/halo
SPRING_DATASOURCE_USERNAME=halo
SPRING_DATASOURCE_PASSWORD=halo

# ------- Java runtime -------
# Spring Boot 3.3 requires Java 21
JAVA_HOME=/usr/lib/jvm/java-21-amazon-corretto
